
@{
    ViewBag.Title = "About us";
}

<section class="w3l-about-breadcrum">
    <div class="breadcrum-bg" style="background-image: linear-gradient(to right, rgba(42, 42, 42, 0.71), rgba(38, 40, 40, 0.78)), url(/Content/client_assets/images/sk/5.jpg);">
        <div class="container py-5">
            <p><a href="/">Home</a> &nbsp; / &nbsp; About</p>
        </div>
    </div>
</section>
<!-- w3l-content-photo-5 -->
@*<div class="w3l-content-photo-5 py-5" id="about">
    <div class="content-main pt-lg-5 pt-md-3 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 content-photo">
                    <a href="#"><img src="~/Content/client_assets/images/22.jpg" class="img-fluid" alt="content-photo"></a>
                </div>
                <div class="col-lg-7 content-left mt-lg-0 mt-5 pl-lg-5">
                    <h3>Directors</h3>
                    <p class="mb-0">
                        Mr.Nirav patel and Mrs Jinal patel are the directors and promoters of the organization. Mr.Nirav patel ( B.pharm, MBA.marketing), who is also founder of JNP BPO( outsourcing firm) as well as president of nirmitcharitable trust have wide range of experienced in field of coaching and overseas from last 7 year.He has done a IELTS tutor training program from British council. He has been in the field of imparting English education to IELTS and TOEFL aspirants and the last six years have seen him come forward as the most successful IELTS trainer in the city of Anand. With thousands of IELTS students testifying for his promise to their dreams, the man is forever dedicated to researching improved and more useful strategies to make English learning easy and accessible for the range of students that flock to the institute. Mrs jinal patel who is director of nirmit charitable trust have a certified licensed New Zealand recognized agent and IDP trainer training program.
                    </p>
                    <a href="/contactus" class="btn-theme2 btn mt-lg-5 mt-4">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!-- //w3l-content-photo-5 -->
<!-- home page service grids -->
<section id="services-1" class="bg-light py-5">
    <div class="container py-lg-3">
        <div class="heading text-center mx-auto">
            <h3 class="head">About Us</h3>
            <p class="my-3 head">
                SK international is a professional coaching institute which provides quality education. We have a very talented  team with an experience of over a decade, who are always ready to assist. We provide education across the globe. We believe education is the most powerful weapon which can be used to change the world.
            </p>
            <p class="my-3 head">
                Thousands of students have succeeded through us. After their course completion they always come back to share their incredible experience with us as they believe, they are a part of SK family. We intend to provide the best education to everyone. Our commitment dedication is reflected from our students result.
            </p>
        </div>
        <div class="row mt-lg-5">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="icon">
                        <span class="fa fa-briefcase"></span>
                    </div>
                    <h4><a href="javascript:void(0);">Mission</a></h4>
                    <p>
                        Provide creative, efficient and economical coaching, immigration & abroad study solutions.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="icon">
                        <span class="fa fa-shield"></span>
                    </div>
                    <h4><a href="javascript:void(0);">Vision</a></h4>
                    <p>
                        To create ethical world class organization and provide professional services to customers across the globe.
                    </p>
                </div>
            </div>
            @*<div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="icon">
                        <span class="fa fa-dollar"></span>
                    </div>
                    <h4><a href="javascript:void(0);">Let's Discuss</a></h4>
                    <p>
                        Lorem ipsum dolor sit amet sed consectetur adipisicing elit.
                        doloret quas saepe autem, dolor set.
                    </p>
                </div>
            </div>*@
        </div>
    </div>
</section>
<!-- //home page service grids -->
 