
@{
    ViewBag.Title = "Login";
}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://apis.google.com/js/api:client.js"></script>
<script src="https://connect.facebook.net/en_US/sdk.js?hash=a0367c0c01abfd102914a01151a0e12d&amp;ua=modern_es6" async="" crossorigin="anonymous"></script>
<script id="facebook-jssdk" src="https://connect.facebook.net/en_US/sdk.js"></script>

<style>
    .modal {
        top: 25%;
        opacity: 1 !important;
    }

    .modal-header {
        padding-top: 30px;
    }
    /* Shared */
    .loginBtn {
        box-sizing: border-box;
        position: relative;
        /* width: 13em;  - apply for fixed size */
        margin: 0.2em;
        padding: 0 15px 0 46px;
        border: none;
        text-align: left;
        line-height: 34px;
        white-space: nowrap;
        border-radius: 0.2em;
        font-size: 16px;
        color: #FFF;
    }

        .loginBtn:before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 34px;
            height: 100%;
        }

        .loginBtn:focus {
            outline: none;
        }

        .loginBtn:active {
            box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
        }


    /* Facebook */
    .loginBtn--facebook {
        background-color: #4C69BA;
        background-image: linear-gradient(#4C69BA, #3B55A0);
        /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
        text-shadow: 0 -1px 0 #354C8C;
    }

        .loginBtn--facebook:before {
            border-right: #364e92 1px solid;
            background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
        }

        .loginBtn--facebook:hover,
        .loginBtn--facebook:focus {
            background-color: #5B7BD5;
            background-image: linear-gradient(#5B7BD5, #4864B1);
        }


    /* Google */
    .loginBtn--google {
        /*font-family: "Roboto", Roboto, arial, sans-serif;*/
        background: #DD4B39;
    }

        .loginBtn--google:before {
            border-right: #BB3F30 1px solid;
            background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
        }

        .loginBtn--google:hover,
        .loginBtn--google:focus {
            background: #E74B37;
        }
</style>
<section class="w3l-contact-breadcrum" style="background-image: linear-gradient(to right, rgba(42, 42, 42, 0.71), rgba(38, 40, 40, 0.78)), url(/Content/client_assets/images/sk/7.jpg);">
    <div class="breadcrum-bg">
        <div class="container py-5">
            <p><a href="/">Home</a> &nbsp; / &nbsp; Login</p>
        </div>
    </div>
</section>

<!-- Login -->
<section class="w3l-contacts-12" id="contact">
    <div class="contact-top pt-5">
        <div class="container py-md-3">

            <div class="heading text-center mx-auto">
                <h3 class="head">Student Login</h3>
                <p><hr /></p>
            </div>

            <div class="row cont-main-top">

                <div class="contacts12-main col-lg-12">
                    <center>
                        @using (Html.BeginForm("CheckLogin", "StudentLogin", FormMethod.Post, new { ID = "theFormId", @class = "main-input", onsubmit = "return Login1();" }))
                        {

                            <div class="top-inputs d-grid col-lg-6">
                                <input type="text" placeholder="Mobile No" name="emailmobile" id="emailmobile" required="">
                            </div>
                            <div class="top-inputs d-grid col-lg-6">
                                <input type="password" placeholder="Password" id="password" name="password" required="">
                            </div>
                            @*<div class="text-left col-lg-6">
                                    <label for="rememberme"><input type="checkbox" id="rememberme" /> Remember Me</label>
                                </div>*@

                            <div class="top-inputs d-grid col-lg-6">
                                @if (TempData["LoginError"] != null)
                                {
                                    <span style="color:red; text-align: left;" class="errorcls">@TempData["LoginError"]</span>
                                }
                                else
                                {
                                    <span style="color:red;" class="errorcls"></span>
                                }
                            </div>

                            <div class="text-left col-lg-6">
                                <input type="hidden" id="hdnotptxt" value="" />
                                <button type="submit" class="btn btn-theme2">Sign In</button>
                            </div>

                        }
                        <button id="btnfblogin" class="loginBtn loginBtn--facebook" style="cursor:pointer;">
                            Login with Facebook
                        </button>

                        <button id="btngooglelogin" class="loginBtn loginBtn--google" style="cursor:pointer;">
                            Login with Google
                        </button>
                    </center>
                </div>
                <!-- //contact form -->

            </div>
        </div>

    </div>
</section>

<script>

</script>
<div class="modal fade open" id="otpmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login OTP</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#hdnotptxt').val('');$('#otptxt').val('');">&times;</button>
            </div>
            <div class="modal-body">
                <label>Enter OTP</label><input type="text" id="otptxt" value="" class="form-control" />
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteProductItem" />
                <button data-dismiss="modal" class="btn btn-danger" type="button" onclick="$('#hdnotptxt').val('');$('#otptxt').val('');">Close</button>
                <button class="btn btn-primary" type="button" onclick="submitotp();">Submit</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Content/admin_assets/js/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    setTimeout(function () {
        FB.init({
            appId: '2608002532771945',
            cookie: true,
            xfbml: true,
            version: 'v7.0'
        });

    }, 1200);
    $("#btnfblogin").click(function () {
        FB.getLoginStatus(function (response) {   // Called after the JS SDK has been initialized.
            statusChangeCallback(response);        // Returns the login status.
        });
    });
      function Login() {
        if ($("#emailmobile").val().trim() == "" || $("#password").val().trim() == "") {
            $(".errorcls").html("Mobilenumber and Password must be required!!");
            return false;
        }
        else {
            if ($('#hdnotptxt').val() == "") {
                 var URL = '@Url.Action("SendOTP", "StudentLogin")';
               $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?MobileNumber=" + $("#emailmobile").val(),
                success: function (result) {
                    if (result == "NotExist") {
                        alert("MobileNumber is not Exist");
                        return false;
                    }
                    if (result == "InActiveAccount") {
                        alert("Your Account is Inactive. Please contact to support");
                        return false;
                    }
                    else {
                        alert("Otp Sent to your registerd mobile number.");
                        $('#hdnotptxt').val(result);
                        $("#otpmodal").modal();
                    }
                },
                error: function (resultData) {
                }
            });
                return false;
            }
            else {
                return true;
            }
        }
    }

    function submitotp() {
        if ($("#otptxt").val() == "") {
            alert("Please enter otp");
            return false;
        }

        if ($("#otptxt").val() != $('#hdnotptxt').val()) {
             alert("Invalid OTP");
            return false;
        }

        $("#theFormId").submit();
    }

    function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
        console.log('statusChangeCallback');
        console.log(response);                   // The current login status of the person.
        if (response.status === 'connected') {   // Logged into your webpage and Facebook.
            testAPI();
        } else {                                 // Not logged into your webpage or we are unable to tell.
            FB.login(function (response) {

                statusChangeCallback(response);

            }, { scope: 'public_profile,email' });
        }
    }


    function checkLoginState() {               // Called when a person is finished with the Login Button.
        FB.getLoginStatus(function (response) {   // See the onlogin handler
            statusChangeCallback(response);
        });
    }


    function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', { fields: 'first_name,last_name,email,name,id' }, function (response) {
            debugger;
            console.log('Successful login for: ' + response.name);
            window.location = "/registerfb?email=" + response.email + "&firstname=" + response.first_name + "&last_name=" + response.last_name;

            //document.getElementById('status').innerHTML =
            //  'Thanks for logging in, ' + response.name + '!';
        });
    }
    var googleUser = {};
    var startApp = function () {
        gapi.load('auth2', function () {
            // Retrieve the singleton for the GoogleAuth library and set up the client.
            auth2 = gapi.auth2.init({
                client_id: '372841423937-mi41q6uckfpirmdv5hhu8cevir6g9dau.apps.googleusercontent.com',
                cookiepolicy: 'single_host_origin',
                // Request scopes in addition to 'profile' and 'email'
                //scope: 'additional_scope'
            });
            attachSignin(document.getElementById('btngooglelogin'));
        });
    };

    function attachSignin(element) {
        console.log(element.id);
        auth2.attachClickHandler(element, {},
            function (googleUser) {
                window.location = "/registerfb?email=" + googleUser.getBasicProfile().getEmail() + "&firstname=" + googleUser.getBasicProfile().getGivenName() + "&last_name=" + googleUser.getBasicProfile().getFamilyName();
            }, function (error) {
                alert(JSON.stringify(error, undefined, 2));
            });
    }
    startApp();
</script>