<div class="container1 login statement enginebox">

</div>
<div id="dvresultt" style="display:none;">
    <a href="#" style="display: none;"></a>
    <div class="porgressbr">
        <span class="is-pulled-left"><p class="is-size-3 has-text-weight-semibold has-text-dark uplds">Uploading....</p></span>
        <progress max="100" id="progresstmfinish" class="progress is-small is-mycolor" value="100"></progress>
    </div>
    <h5 class="has-text-centered is-size-4 has-text-weight-semibold">Your test is in review</h5>
    <div class="level-item has-text-centered centersec">
        <figure class="image is-centered enginethanks ">
            <img src="~/Images/IA2.png" />
        </figure>
    </div>
    <br>
    @*<h5 class="has-text-centered is-size-6">
        Your results will be emailed to your registered email within 48 hours.
    </h5>*@
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.3.0.js"></script>
<script src="~/Scripts/jquery.blockUI.js"></script>
<script>
    var arryresult = [];
    var arryfeedback = [];
    var arrblob = [];
    var exmid = '@ViewBag.ExamId';
    var displyfeeback = '@ViewBag.DisplayFeedBack';
    window.localStorage.setItem('resultq1',JSON.stringify(arryresult));
    var questionss = @Html.Raw(Json.Encode(ViewData["lstQue"]));
    var cntQs = 0;
    var tmmmrr = 50;
    var jji = 0;
    var totlwv = 0;
    $(document).ready(function () {
        $(".question").hide();
    });
    function Start() {
        
        $(".question").hide();
        $(".indexpage").hide();
        var qiid = questionss[cntQs].QuestionId
        $(".container1").load('\getQuestiondemo?QueId=' + qiid, function () {

        });

        //$(".1q").show();
    }

    function nextintro() {
        $(".indexpage").hide();
        $(".intr2").show();
    }

    function nextquestion(objthis) {

        cntQs = cntQs + 1;

        if (questionss.length > cntQs) {
            //SaveAns(cntQs - 1);
            var qiid = questionss[cntQs].QuestionId;
            $(".container1").load('\getQuestiondemo?QueId=' + qiid, function () {

            });
        }
        else {
            //SaveAns(cntQs - 1);
            if (displyfeeback == "yes") {
                $(".container1").load('\getfeedback', function () {

                });
            }
            else {
                $(".container1").html($("#dvresultt").html());
                $("#dvresultt").html("");
                totlwv = arrblob.length;
                if (totlwv > 0) {
                    $.blockUI({ message: 'Uploading... Please wait for 4 to 5 minutes' });
                    savewavfiles(jji);
                }
                startimes();
            }


            //$(".container1").html($("#dvresultt").html());
            //$("#dvresultt").html("");
            //startimes();
            //alert("Thank you for the exam.You will get result in 24 hours.");
            //location.href = "/results";
            //$.ajax({
            //    url: '/SaveExamResult',
            //    async: true,
            //    type: 'POST',
            //    dataType: 'json',
            //    data: window.localStorage.getItem('resultq'),
            //    contentType: 'application/json; charset=utf-8',
            //    success: function (data) {
            //    // get the result and do some magic with it
            //        var message = data.Message;

            //   // $("#resultMessage").html(message);
            //}
        //});
           // saveresult();
        }

        //$(".question").hide();
       // $(objthis).parents('.question').next('.question').show();
    }

    function startimes() {
        var tmr2 = setInterval(function () {
            if (tmmmrr == 0) {
                clearInterval(tmr2);
                $(".uplds").html("Upload complete");

            }
            else {
                tmmmrr = tmmmrr - 1;
                $('#progresstmfinish').attr('value', tmmmrr);
            }
        }, 150);
    }
    function nextfeeback(q) {
        $(".feedback").hide();
        if (q == 2) {
            var ans = $("input[name=feedopt]:checked").val();
            var objans = { QuestionTxt: $(".feedback1 .clsquefeedback").html(), Ans: ans, ExamId: exmid };
            arryfeedback.push(objans);
            $(".feedback" + q).show();
        }
        else if (q == 3) {
            var ans = $("#txtfeedback2").val();
            var objans = { QuestionTxt: $(".feedback2 .clsquefeedback").html(), Ans: ans, ExamId: exmid };
            arryfeedback.push(objans);
            $(".feedback" + q).show();
        }
        else if (q == 4) {
            var ans = $('input[name=feed3opt]:checked').map(function () {
                return this.value;
            }).get().join(",");
            var objans = { QuestionTxt: $(".feedback3 .clsquefeedback").html(), Ans: ans, ExamId: exmid };
            arryfeedback.push(objans);
            $(".feedback" + q).show();
        }
        else if (q == 5) {
            var ans = $("input[name=feedopt4]:checked").val();
            var objans = { QuestionTxt: $(".feedback4 .clsquefeedback").html(), Ans: ans, ExamId: exmid };
            arryfeedback.push(objans);
            $(".feedback" + q).show();
        }
    }
    function finishfeeback() {
        $.blockUI();
        var ans = $("#txtfeedback5").val();
        var objans = { QuestionTxt: $(".feedback5 .clsquefeedback").html(), Ans: ans, ExamId: exmid };
        arryfeedback.push(objans);
        var URL = '/Client/StartExam/SaveFeedBack';
        $.ajax({
            url: URL,
            async: true,
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(arryfeedback),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

            }
        });
        $(".container1").html($("#dvresultt").html());
        $("#dvresultt").html("");
        totlwv = arrblob.length;
        if (totlwv > 0) {
            $.blockUI({ message: 'Uploading... Please wait for 4 to 5 minutes' });
            savewavfiles(jji);
        }
        startimes();
    }


    function savewavfiles(jji) {
        $.unblockUI();
        alert("your free demo is finished for full length mock test purchase your package now");     
    }


</script>

