@using DuolingoSk.ViewModel;
@using DuolingoSk.Models;
@{
    ViewBag.Title = "Index";
    List<tbl_QuestionLevel> lstQueslvl = ViewData["lstQuestionLevel"] as List<tbl_QuestionLevel>;

    int bdd = 0;
    int bdm = 0;
    int bdy = 0;
    if (ViewBag.Dob != null && ViewBag.Dob != "")
    {
        DateTime dbo = Convert.ToDateTime(ViewBag.Dob);
        bdd = dbo.Day;
        bdm = dbo.Month;
        bdy = dbo.Year;
    }

    int Cntss = 0;
}
<script src="https://code.jquery.com/jquery-3.0.0.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js"></script>
<link href="~/Content/quiz.css" rel="stylesheet" />
<script src="~/Scripts/MediaStreamRecorder.js"></script>
<style>
    .container1 .select, .container1 select {
        width: 100%;
    }

    .feedback1 input[type=checkbox], .feedback1 input[type=radio], .feedback4 input[type=radio] {
        height: auto !important;
    }

    .feedback3 input[type=checkbox], .feedback3 input[type=radio] {
        height: auto !important;
    }

    .feedback1 label, .feedback4 label {
        color: #504747;
        font-weight: 600;
    }

    .feedback3 label {
        color: #504747;
        font-weight: 600;
    }
</style>
<section class="w3l-about-breadcrum">
    <div class="breadcrum-bg" style="padding-top: 65px; background-image: linear-gradient(to right, rgba(42, 42, 42, 0.71), rgba(38, 40, 40, 0.78)), url(/Content/client_assets/images/sk/5.jpg);">
        <div class="container py-5" style="padding-bottom:15px !important;">
            <p><a href="/">Home</a> &nbsp; / &nbsp; Demo</p>
        </div>
    </div>
</section>
<div id="dvStartNow">
    @*<button id="start-recording">Start</button>
        <button id="stop-recording">Stop</button>
        <button id="save-recording">Save</button>*@
    <div id="audios-container"></div>
    <div class="container1 login statement enginebox">
         
        <div class="indexpage intr0" style="display:block;">
            <h1 style=" text-align: center; color: #a52929; margin-bottom: 10px; ">Copyright © SK International</h1>
            <h2 class="is-size-4 has-text-weight-normal has-text-centered is-marginless">Select Exam Level</h2>
            <br>
            <div class="columns is-multiline is-mobile">
                <div class="column is-offset-4 is-4">
                    <div class="columns is-multiline is-mobile">
                        <div class="column is-12">
                            <form class="is-marginless">
                                <div class="columns is-multiline is-mobile">
                                    <div class="column is-12">
                                        <label>Exam Level</label>
                                        <div class="select">
                                            <select id="quelevel">
                                                @if (lstQueslvl != null && lstQueslvl.Count() > 0)
                                                {
                                                    <option value="">Select Exam Level</option>
                                                    foreach (var objq in lstQueslvl)
                                                    {
                                                        <option value="@objq.Level_Id">@objq.LevelName</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-multiline is-mobile last-sec footsec">
                <div class="column is-4"></div>
                <div class="column is-4">
                    <progress value="2" max="10" class="progress is-small is-mycolor"></progress>
                </div>
                <div class="column is-4">
                    <button class="button is-primary is-uppercase is-pulled-right has-text-weight-semibold" onclick="checklevl();">Next</button>
                </div>
            </div>
        </div>
        
        <div class="indexpage intr1" style="display:none;">
            <h1 style=" text-align: center; color: #a52929; margin-bottom: 10px; ">Copyright © SK International</h1>
            <h2 class="is-size-4 has-text-weight-normal has-text-centered is-marginless">Your information as it appears on your ID</h2>
            <p class="is-size-5 has-text-weight-normal has-text-centered has-text-grey-light">
                Unreadable or incorect information will prevent your  result from being certified.
            </p>

            <form>
                <div class="columns is-multiline is-mobile">
                    <div class="column totlsec">
                        <div class="columns is-multiline is-mobile">
                            <div class="column is-3">
                                <video height="350px" width="400px" autoplay="autoplay" id="videoElement" muted="muted" class=" video-pad"></video>
                            </div>
                            <div class="column is-9" style="margin-top:15px;">
                                <form class="is-marginless">
                                    <div class="columns is-multiline is-mobile">
                                        <div class="column is-12">
                                            <div class="field is-marginless">
                                                <label class="label">Given Name</label>
                                                <div class="control has-icons-left has-icons-right">
                                                    <input type="text" name="name" id="name" title="name" placeholder="Name" class="input" readonly value="@ViewBag.FullName" aria-required="true" aria-invalid="false">
                                                </div>
                                            </div>
                                            @*<p class="id-text is-size-7 has-text-weight-normal has-text-grey-light">Make a sure list you all of the names on your ID</p>*@
                                            <p class="is-size-6 has-text-weight-normal has-text-centered has-text-grey-light">The test will take approximately 45-55 minutes to complete a human reviewer will watch a recording of you test.</p>
                                            <div class="error" style="display: none;"></div>
                                        </div>
                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns is-multiline is-mobile footsec">
                    <div class="column is-4">
                        <button class="button is-primary bgbutton is-uppercase is-pulled-left has-text-weight-semibold" onclick="backintro();">Back</button>
                    </div>
                    <div class="column is-4">
                        <progress value="100" max="100" class="progress is-small is-mycolor"></progress>
                    </div>
                    <div class="column is-4">
                        <button class="button is-primary is-uppercase is-pulled-right has-text-weight-semibold" onclick="Start();">START</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.0.0.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js"></script>

<script>
    var cntintr = 0;
    $(document).ready(function () {
        $(".question").hide();
           $("#bdt").val('@bdd');
        $("#mdt").val('@bdm');
        $("#ydt").val('@bdy');
    });
    function Start() {
        $.blockUI();
        $("#dvStartNow").load('\StartNowDemo?LevelId=' + $("#quelevel").val(), function () {
            $(".question").hide();
            $(".indexpage").hide();
            var qiid = questionss[cntQs].QuestionId
            $(".container1").load('\getQuestiondemo?QueId=' + qiid, function () {
                $.unblockUI();
            });
        });
        //$(".1q").show();
    }

    function nextintro() {
        if (cntintr > 0 && $("#quelevel").val() == "") {
            alert("Please Select Level");
            return false;
        }
        else {
            $(".intr" + cntintr).hide();
            cntintr = cntintr + 1;
            $(".intr" + cntintr).show();
        }
    }

    function backintro() {
        if ($("#quelevel").val() == "") {
            alert("Please Select Level");
            return false;
        }
        else {
            $(".intr" + cntintr).hide();
            cntintr = cntintr - 1;
            $(".intr" + cntintr).show();
        }
    }

    function checklevl() {
        var qlv = "0";
        if ($("#quelevel").val() != "") {
            qlv = $("#quelevel").val();
        }
        else {
            alert("Please Select Level");
            return false;
        }

        nextintro();
    }
</script>
<script>

</script>