
@{
    ViewBag.Title = "Contact us";
}

<section class="w3l-contact-breadcrum" style="background-image: linear-gradient(to right, rgba(42, 42, 42, 0.71), rgba(38, 40, 40, 0.78)), url(/Content/client_assets/images/sk/7.jpg);">
    <div class="breadcrum-bg">
        <div class="container py-5">
            <p><a href="/">Home</a> &nbsp; / &nbsp; Contact</p>
        </div>
    </div>
</section>
<!-- contact -->
<section class="w3l-contacts-12" id="contact">
    <div class="contact-top pt-5">
        <div class="container py-md-3">

            <div class="row cont-main-top">
                <!-- contact form -->
                <div class="contacts12-main col-lg-6 ">

                    <form class="main-input">
                        <div class="top-inputs d-grid">
                            <input type="text" placeholder="Full Name" name="name" id="name" required="">
                        </div>
                        <div class="top-inputs d-grid">
                            <input type="email" name="email" placeholder="Email" id="emailid" required="">
                        </div>
                        <div class="top-inputs d-grid">
                            <input type="text" name="mobileno" placeholder="Mobile No" id="mobileno" required="">
                        </div>
                        <div class="top-inputs d-grid">
                            <textarea placeholder="Message" name="message" id="message" required=""></textarea>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-theme2">Submit Now</button>
                        </div>
                    </form>
                </div>
                <!-- //contact form -->
                <!-- contact address -->
                <div class="contact col-lg-6 mt-lg-0 mt-5">
                    <div class="cont-subs">
                        <div class="cont-add">
                            <div class="cont-add-lft">
                                <span class="fa fa-map-marker" aria-hidden="true"></span>
                            </div>
                            <div class="cont-add-rgt">
                                <p class="contact-text-sub">301, 3rd Floor, Shiv Orbit, Nr. New Bus Stand, Anand, 388001 Gujarat, India</p>
                            </div>

                        </div>
                        <div class="cont-add add-2">
                            <div class="cont-add-lft">
                                <span class="fa fa-envelope" aria-hidden="true"></span>
                            </div>
                            <div class="cont-add-rgt">
                                <a href="mailto:skacademy.ielts@gmail.com">
                                    <p class="contact-text-sub">
                                        skacademy.ielts@gmail.com
                                    </p>
                                </a>
                            </div>

                        </div>
                        <div class="cont-add">
                            <div class="cont-add-lft">
                                <span class="fa fa-phone" aria-hidden="true"></span>
                            </div>
                            <div class="cont-add-rgt">
                                <a href="tel:(02692) 258450">
                                    <p class="contact-text-sub">(02692) 258450</p>
                                </a>
                            </div>
                        </div>
                        @*<div class="cont-add add-3">
                            <div class="cont-add-lft">
                                <span class="fa fa-file-pdf-o" aria-hidden="true"></span>
                            </div>
                            <div class="cont-add-rgt">
                                <a href="#">
                                    <p class="contact-text-sub">Download Resume</p>
                                </a>
                            </div>

                        </div>*@
                    </div>
                </div>
                <!-- //contact address -->

            </div>
        </div>
        <!-- map -->
        <div class="map">
            @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158857.7281066703!2d-0.24168144921176335!3d51.5287718408761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C%20UK!5e0!3m2!1sen!2sin!4v1569921526194!5m2!1sen!2sin"
                frameborder="0" style="border:0;" allowfullscreen=""></iframe>*@

            <iframe src="https://www.google.com/maps/d/embed?mid=19qg8kv05bwAf-JpnmvedePH5JLQ" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

        </div>
        <!-- //map -->
    </div>
</section>
