
@{
    ViewBag.Title = "Login";
}

<section class="w3l-contact-breadcrum" style="background-image: linear-gradient(to right, rgba(42, 42, 42, 0.71), rgba(38, 40, 40, 0.78)), url(/Content/client_assets/images/sk/7.jpg);">
    <div class="breadcrum-bg">
        <div class="container py-5">
            <p><a href="/">Home</a> &nbsp; / &nbsp; Register</p>
        </div>
    </div>
</section>

<!-- Login -->
<section class="w3l-contacts-12" id="contact">
    <div class="contact-top pt-5">
        <div class="container py-md-3">

            <div class="heading text-center mx-auto">
                <h3 class="head">Student Register</h3>
                <p><hr /></p>
            </div>

            <div class="row cont-main-top">

                <div class="contacts12-main col-lg-12">
                    <center>
                        <form class="main-input">
                            <div class="top-inputs d-grid col-lg-6">
                                <label class="text-left">First Name *</label>
                                <input type="text" placeholder="First Name" name="mobileno" id="mobileno" required="">
                            </div>
                            <div class="top-inputs d-grid col-lg-6">
                                <label class="text-left">Last Name *</label>
                                <input type="text" placeholder="Last Name" name="mobileno" id="mobileno" required="">
                            </div>
                            <div class="top-inputs d-grid col-lg-6">
                                <label class="text-left">Email Id</label>
                                <input type="text" placeholder="Email Id" name="mobileno" id="mobileno">
                            </div>
                            <div class="top-inputs d-grid col-lg-6">
                                <label class="text-left">Mobile No *</label>
                                <input type="text" placeholder="Mobile No" name="mobileno" id="mobileno" required="">
                            </div>
                            <div class="top-inputs d-grid col-lg-6">
                                <label class="text-left">Password *</label>
                                <input type="password" placeholder="Password" id="password" name="password" required="">
                            </div>
                            <div class="top-inputs d-grid col-lg-6">
                                <label class="text-left">Date Of Birth *</label>
                                <input type="text" placeholder="DD/MM/YYYY" id="password" name="password" required="">
                            </div>
                            <div class="top-inputs d-grid col-lg-6">
                                <label class="text-left">Address *</label>
                                <input type="text" placeholder="Address" id="password" name="password" required="">
                            </div>
                            <div class="top-inputs d-grid col-lg-6">
                                <label class="text-left">City *</label>
                                <input type="text" placeholder="City" id="password" name="password" required="">
                            </div>
                            <div class="top-inputs d-grid col-lg-6">
                                <label class="text-left">Registration Fee *</label>
                                <input type="text" placeholder="Registration Fee" value="1000" disabled>
                            </div>
                            <div class="top-inputs d-grid col-lg-6">
                                <label class="text-left">Total Exam Attempts *</label>
                                <input type="text" placeholder="Total Exam Attempts" value="10" disabled>
                            </div>
                            <div class="text-left col-lg-6">
                                <button type="button" class="btn btn-theme2">Sign Up</button>
                            </div>
                        </form>
                    </center>
                </div>
                <!-- //contact form -->

            </div>
        </div>

    </div>
</section>
