@model List<MaterialVM>
@{
    ViewBag.Title = "Material";
    int counter = 1;
}


<section class="w3l-contact-breadcrum" style="background-image: linear-gradient(to right, rgba(42, 42, 42, 0.71), rgba(38, 40, 40, 0.78)), url(/Content/client_assets/images/sk/7.jpg);">
    <div class="breadcrum-bg">
        <div class="container py-5">
            <p><a href="/">Home</a> &nbsp; / &nbsp; Tips List</p>
        </div>
    </div>
</section>

<!-- Login -->
<section class="w3l-contacts-12" id="contact">
    <div class="contact-top pt-5">
        <div class="container py-md-3">

            <div class="heading text-center mx-auto">
                <h3 class="head">Tips</h3>
                <p></p>
            </div>

            <div class="row cont-main-top">

                <div class="table-responsive" style="margin-top : 50px; margin-bottom : 50px;">
                    <table id="tblGrid" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th width="15%">Sr No.</th>
                                <th>Tip Title</th>
                                <th width="15%">View Tip</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (MaterialVM item in Model)
                                {
                                    <tr>
                                        <td>@counter.</td>
                                        <td>@item.MaterialTitle</td>
                                        <td>
                                            <a target="_blank" href="~/Images/MaterialMedia/@item.MaterialFileName" class="btn btn-success">View</a>
                                        </td>
                                    </tr>
                                    counter++;
                                }

                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</section>
