<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Certificate</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet" /> 
</head>
<body style="font-family: 'Nunito'">
    <section id="certificate" style="width:1024px; height:auto;margin: auto;">
        <div style="text-align:center;padding-left:100px;padding-right:100px;">
            <h2 style="color: #f31717;font-size: 32px;font-weight: bold;text-decoration: underline;">RESULT</h2>
        </div>
        <div style="padding-left:180px;padding-right:180px;margin-top:50px;">
            <div style="width:90%;float:left;">
                <span style="color:black;font-size:26px;"><b>Overall</b></span>
            </div>
            <div style="width:10%;float:left;">
                <span style="color: #ff2828;font-size: 29px;"><b>--OVERALL--</b></span>
            </div>
        </div>
        <div style="clear:both;">
        </div>
        <div style="padding-left:180px;padding-right:180px;">
            <p style="font-size: 16px;color: gray;font-weight: 600;">The test taker's ability to use english in a variety of modes and contexts</p>         
        </div>
        <div style="padding-left:160px;padding-right:160px;">           
            <img src="--METERIMG--" />
        </div>
        <div  style="padding-left:160px;padding-right:160px;">
            <ul style="color: #404040;font-size: 15px;">
                <li style="padding-bottom:8px;">
                    The test takers ability to read and write The test takers ability to read and writeThe test takers ability to read and write.
                </li>
                <li style="padding-bottom:8px;">
                    The test takers ability to read and write
                </li>
                <li style="padding-bottom:8px;">
                    The test takers ability to read and write The test takers ability to read and write
                </li>
            </ul>
        </div>
        <div style="padding-left: 20px; padding-right: 20px; width: 530px; border: 1px solid gray; border-radius: 5px; margin: 0 auto;">
            <div style="width: 250px; padding-left: 120px;margin-top:20px;">
                <div style="width:80%;float:left;">
                    <span style="color:black;font-size:19px;"><b>Literacy</b></span>
                </div>
                <div style="width:20%;float:left;">
                    <span style="color: #ff2828;font-size:22px;"><b>--Literacy--</b></span>
                </div>
            </div>
            <div style="clear:both;padding-left: 120px;">
                <p>The test takers ability to read and write</p>
            </div>
            <div style="width: 250px; padding-left: 120px;">
                <div style="width:80%;float:left;">
                    <span style="color:black;font-size:19px;"><b>Comprehension</b></span>
                </div>
                <div style="width:20%;float:left;">
                    <span style="color: #ff2828;font-size:22px;"><b>--Comprehension--</b></span>
                </div>
            </div>
            <div style="clear:both;padding-left: 120px;">
                <p>The test takers ability to read and listen</p>
            </div>
            <div style="width: 250px; padding-left: 120px;">
                <div style="width:80%;float:left;">
                    <span style="color:black;font-size:19px;"><b>Conversation</b></span>
                </div>
                <div style="width:20%;float:left;">
                    <span style="color: #ff2828;font-size:22px;"><b>--Conversation--</b></span>
                </div>
            </div>
            <div style="clear:both;padding-left: 120px;">
                <p>The test takers ability to listen and speak</p>
            </div>
            <div style="width: 250px; padding-left: 120px;">
                <div style="width:80%;float:left;">
                    <span style="color:black;font-size:19px;"><b>Production</b></span>
                </div>
                <div style="width:20%;float:left;">
                    <span style="color: #ff2828;font-size:22px;"><b>--Production--</b></span>
                </div>
            </div>
            <div style="clear:both;padding-left: 120px;">
                <p>The test takers ability to write and speak</p>
            </div>
        </div>
        <hr/>     
    </section>

</body>
</html>