<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Certificate</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet" /> 
</head>
<body style="font-family: 'Nunito'">
     
    <section id="certificate" style="width:1024px; height:auto;margin: auto;">

        <!--nilesh code below-->

        <div style="text-align:center;">
            <table cellpadding="0" cellspacing="0" border="0" align="center" style="width: 100%;margin-top: 30px;    margin-bottom: 30px;">
                <tbody>
                    <tr>
                        <td style="font-size: 13px;font-weight: 400;color: #444444;letter-spacing: 0.2px;width: 45%;">

                            <p style="text-align: left;font-weight: normal; font-size: 14px; color: #000000;line-height: 21px;    margin-top: 0;">
                                <img style="width: 150px; height: 150px; border: 2px solid #ca6565; border-radius: 5px;" src="--PROFILEPIC--">
                            </p>
                        </td>

                        <td class="user-info" style="font-size: 13px;font-weight: 400;color: #444444;letter-spacing: 0.2px;width: 40%;">

                            <p style="text-align: left;font-weight: normal; font-size: 14px; color: #000000;line-height: 21px;    margin-top: 0;">
                                <span style="border: 2px solid #ca6565; padding: 10px 10px 10px 10px;">--DATE--</span>
                            </p>
                        </td>
                        <td class="user-info" style="font-size: 13px; font-weight: 400; color: #444444; letter-spacing: 0.2px;width: 33%;">

                            <p style="text-align: left;font-weight: normal; font-size: 14px; color: #000000;line-height: 21px;    margin-top: 0;">
                                <img style="width: 150px; height: 150px; border: 2px solid #ca6565; border-radius: 5px;" src="https://www.duolingo-ielts-pte.in/Images/logo.jpg">
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--krutik code below-->

        <div style="text-align:center;padding-left:100px;padding-right:100px;">
            <h2 style="color: #ca6565;font-size: 35px;font-weight: bold;text-decoration: underline;">RESULT</h2>
        </div>
        <div style="padding-left:180px;padding-right:180px;margin-top:85px;">
            <div style="width:90%;float:left;">
                <span style="color:black;font-size:28px;"><b>Overall</b></span>
            </div>
            <div style="width:10%;float:left;">
                <span style="color: #ca6565;font-size: 31px;"><b>--OVERALL--</b></span>
            </div>
        </div>
        <div style="clear:both;">
        </div>
        <div style="padding-left:180px;padding-right:180px;">
            <p style="font-size: 18px;color: gray;font-weight: 600;">The test taker's ability to use english in a variety of modes and contexts</p>
        </div>
        <div style="padding-left:160px;padding-right:160px;">
            <img src="--METERIMG--" />
        </div>
        <div style="padding-left:160px;padding-right:160px;">
            <ul style="color: #404040;font-size: 18px;">
                <li style="padding-bottom:8px;">
                    The test takers ability to read and write The test takers ability to read and writeThe test takers ability to read and write.
                </li>
                <li style="padding-bottom:8px;">
                    The test takers ability to read and write
                </li>
                <li style="padding-bottom:8px;">
                    The test takers ability to read and write The test takers ability to read and write
                </li>
            </ul>
        </div>
        <div style="padding-left: 20px; padding-right: 20px;margin-bottom:60px; width: 530px; border: 1px solid #ca6565; border-radius: 5px; margin: 0 auto;">
            <div style="width: 250px; padding-left: 120px;margin-top:20px;">
                <div style="width:80%;float:left;">
                    <span style="color:black;font-size:20px;"><b>Literacy</b></span>
                </div>
                <div style="width:20%;float:left;">
                    <span style="color: #ca6565;font-size:23px;"><b>--Literacy--</b></span>
                </div>
            </div>
            <div style="clear:both;padding-left: 120px;">
                <p>The test takers ability to read and write</p>
            </div>
            <div style="width: 250px; padding-left: 120px;">
                <div style="width:80%;float:left;">
                    <span style="color:black;font-size:20px;"><b>Comprehension</b></span>
                </div>
                <div style="width:20%;float:left;">
                    <span style="color: #ca6565;font-size:23px;"><b>--Comprehension--</b></span>
                </div>
            </div>
            <div style="clear:both;padding-left: 120px;">
                <p>The test takers ability to read and listen</p>
            </div>
            <div style="width: 250px; padding-left: 120px;">
                <div style="width:80%;float:left;">
                    <span style="color:black;font-size:20px;"><b>Conversation</b></span>
                </div>
                <div style="width:20%;float:left;">
                    <span style="color: #ca6565;font-size:23px;"><b>--Conversation--</b></span>
                </div>
            </div>
            <div style="clear:both;padding-left: 120px;">
                <p>The test takers ability to listen and speak</p>
            </div>
            <div style="width: 250px; padding-left: 120px;">
                <div style="width:80%;float:left;">
                    <span style="color:black;font-size:20px;"><b>Production</b></span>
                </div>
                <div style="width:20%;float:left;">
                    <span style="color: #ca6565;font-size:23px;"><b>--Production--</b></span>
                </div>
            </div>
            <div style="clear:both;padding-left: 120px;">
                <p>The test takers ability to write and speak</p>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <hr />
        <table cellpadding="0" cellspacing="0" border="0" align="left" style="width: 100%; margin-bottom: 30px;">
            <tbody>
                <tr>
                    <td style="font-size: 13px; font-weight: 400; color: #444444; letter-spacing: 0.2px;width: 50%;">
                        <p style="text-align: left;font-weight: normal; font-size: 14px; color: #000000;line-height: 21px;    margin-top: 0;">
                            <span class="dot" style="height: 10px; width: 10px; background-color: #000000; display: inline-block;"></span> Your Score   <span class="dot" style="height: 10px; width: 10px; background-color: #ca6565; display: inline-block;"></span>  Your score range
                        </p>
                    </td>

                    <td class="user-info" style="font-size: 13px; font-weight: 400; color: #444444; letter-spacing: 0.2px;width: 50%;">
                        <p style="text-align: right;font-weight: normal; font-size: 14px; color: #000000;line-height: 21px;    margin-top: 0;">
                            Visit - <a style="color: #ca6565; text-decoration: none;" href="https://duolingo-pte-ielts.com"> duolingo-pte-ielts.com </a>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>




    </section>

</body>
</html>